apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
spec:
  template:
    spec:
      containers:
        - name: manager
          env:
          - name: RELATED_IMAGE_LOKI
            value: quay.io/rojacob/loki:upstream-v3.4.2-98bbae9-WIP
          - name: RELATED_IMAGE_GATEWAY
            value: quay.io/observatorium/api:latest
          - name: RELATED_IMAGE_OPA
            value: quay.io/observatorium/opa-openshift:latest
